<p>repondrequizz works!</p>

<div *ngFor="let questionObj of questionsWithAnswers">
    <div>
      <h3>{{ questionObj.question.description }}</h3>
      <div *ngFor="let answer of questionObj.answers">
        <label>
          <input 
            type="radio" 
            name="question-{{ questionObj.question.id }}" 
            [value]="answer.id"
            (change)="onAnswerSelected(questionObj.question.id, answer.id)" />
          <!--<input 
            type="radio" 
            name="question-{{ questionObj.question.id }}" 
            [value]="answer.id"/>-->
          {{ answer.description }}
        </label>
      </div>
    </div>
  </div>
  
  <button (click)="sendAnswers()">Envoyer</button>
  