<h2>Créer une Question</h2>

  <!-- Affichage de l'ID du module récupéré -->
  <!-- Affichage de l'ID du module récupéré -->
  <h1 *ngIf="idmodule">L'ID du module sélectionné : {{ idmodule }}</h1>
  <!-- Affichage des compétences associées au module -->
  <h3>Compétences liées au module</h3>
  <ul *ngIf="competences.length > 0">
    <li *ngFor="let competence of competences">
      {{ competence.id }} - : {{ competence.libelle }} - {{ competence.description }}
    </li>
  </ul>
  <p *ngIf="competences.length === 0">Aucune compétence trouvée pour ce module.</p>

  <!-- Zone de saisie pour la description de la question -->
  <label for="question">Entrer la question :</label><br>
  <textarea 
    id="question" 
    [(ngModel)]="description" 
    placeholder="Écrivez votre question ici..." 
    rows="4" 
    cols="50">
  </textarea>
  <br>

  <!-- Sélection de la compétence -->
  <label for="competence">Sélectionner une compétence :</label><br>
  <select 
    id="competence" 
    [(ngModel)]="idSkill">
    <option [value]="0" disabled selected>Sélectionnez une compétence</option>
    <option *ngFor="let competence of competences" [value]="competence.id">
      {{ competence.libelle }}
    </option>
  </select>
  <br><br>

  <!-- Bouton pour envoyer la question -->
  <button (click)="sendquestion()">Envoyer</button>

