<section>
    <div class="container_page">
      <div class="modules-container">
        <h2>Liste des Modules</h2>
        <ul>
          <li *ngFor="let module of modules" class="module-item">
            <strong>{{ module.major }}</strong> - {{ module.description }}
            <div class="buttons-container">
              <button (click)="showstudenteval(module.id, module.major)">Visualiser les évaluations des étudiants</button>
              <button (click)="showquizz(module.description, module.id)">Voir le quizz existant</button>
              <button (click)="creerunquizz(module.description, module.id)">Créer un quizz pour cette matière</button>
              <button (click)="gotoskill(module.id)">Gestion des compétences</button>
              <button (click)="gotoressource(module.id)">Gestion des ressources</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>