/* Style général */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_navbar {
    position: relative;
    width: 100%; 
    height: 72.75px; 
    background-color: #E8E7DE; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo img {
    height: 100%;
    width: auto; 
    display: block; 
}


.rectangle {
    display: flex;
    gap: 20px; 
    flex-grow: 1;
    position: relative; 
}

/* Style des boutons */
.button {
    background-color: #E8E7DE;
    border: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Ajoute un espacement pour les boutons de gauche */
.button_acceuil,
.button_fonctionnalites,
.button_ressources,
.button_contact {
    position: relative;
}

/* Ajoute un espace au premier bouton */
.rectangle button:first-child {
    margin-left: 20px; /* Espace à gauche uniquement pour le premier bouton */
}

/* Positionnement du bouton "Fin" */
.button_deconexion {
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%); /* Centre verticalement */
}

/* Effet au survol */
.button:hover {
    background-color: #168b75;
    color: white;
}

.container_module {
    position: relative;
    left: 0%; /* Positionne le conteneur légèrement à droite */
    width: 100%; 
    height: calc(100vh - 72.75px);
    background-color: black;
}