<section>
  <div class="container_page">
    <!-- Information Section -->
    <div class="container-text">
      <h1 class="text_title">Bienvenue sur votre espace de suivi des compétences</h1>
      <p class="text_content">
        Cette page regroupe tous les enseignements que vous suivez actuellement.<br><br>
        • Explorer les compétences associées pour comprendre les attentes et objectifs.<br><br>
        • Procéder à votre auto-évaluation afin de repérer vos forces et vos axes d’amélioration.<br><br>
        • Consulter l’évaluation de vos enseignants et comparer vos résultats pour suivre votre progression.<br><br>
        Cliquez sur une matière pour commencer et prenez en main votre réussite !
      </p>
      <p class="text_content2">Votre avenir commence ici. Prenez le contrôle de vos compétences dès aujourd’hui !</p>
    </div>

    <!-- Scrollable Section -->
    <div class="container-scrollable">
      <div class="container-scrollable2">
        <div *ngFor="let subject of mat" class="label-container">
          <div class="module">
            <span>Module :</span>
            <label class="label">{{ subject.description }}</label>
            <ul>
              <li>
                <button class="submit-button" type="button" (click)="autoeval(subject.id)">S'auto-évaluer</button>
                <button class="submit-button" type="button" (click)="quizz(subject.id)">QUIZZ</button>
                <button class="submit-button" type="button" (click)="gotoressource(subject.id)">Voir les ressources</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-button">
        <button class="switch-button" type="button" (click)="showeval()">
          Voir mon auto-évaluation et évaluation par compétences
        </button>
      </div>
    </div>
  </div>
</section>
