<p>Page - Liste de modules suivis par l'étudiant!</p>

<div> 
  <button class="switch-button" type="button" (click)="showeval()">Voir mon auto-évaluation et évaluation par compétences</button>
<div>

<div *ngFor="let subject of mat" class="label-container">
    <!-- Affiche la description de la matière -->
    <label class="label">{{ subject.description }}</label>
    <ul>
      <li>
        <!-- Bouton pour l'autoévaluation -->
        <button class="submit-button" type="button" (click)="autoeval(subject.id)">S'auto-évaluer</button>
        
        <!-- Bouton pour le quiz -->
        <button class="submit-button" type="button" (click)="quizz(subject.id)">QUIZZ</button>
        
        <!-- Bouton pour voir les ressources -->
        <button class="switch-button" type="button" (click)="ressources()">Voir les ressources</button>
      </li>
    </ul>
  </div>
  

