<div class="container"></div>

<div class="contact-container">
  <form (ngSubmit)="envoyerFormulaire()" #contactForm="ngForm">
    <p class="form-title">📩 Tout au plaisir de vous répondre !</p>
    
    <div class="form-group">
      <input
        type="text"
        id="name"
        name="name"
        required
        [(ngModel)]="contact.name"
        class="form-control"
        placeholder="Prénom"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        id="surname"
        name="surname"
        required
        [(ngModel)]="contact.surname"
        class="form-control"
        placeholder="Nom"
      />
    </div>

    <div class="form-group">
      <input
        type="email"
        id="mail"
        name="mail"
        required
        [(ngModel)]="contact.mail"
        class="form-control"
        placeholder="Adresse mail"
      />
    </div>

    <div class="form-group">
      <textarea
        id="message"
        name="message"
        required
        [(ngModel)]="contact.message"
        class="form-control textarea"
        placeholder="Votre message..."
      ></textarea>
    </div>

    <button type="submit" class="btn btn-submit">📨 Envoyer</button>
  </form>
</div>
