<p>showeval works!</p>

<div class="container">
    <h2>Liste des Évaluations</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID Skill</th>
          <th>Description</th>
          <th>Évaluation</th>
          <th>Quizz Évaluation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let response of responseMessage">
          <td>{{ response.idSkill }}</td>
          <td>{{ response.description || 'Chargement...' }}</td>  <!-- Affiche la description -->
          <td>{{ response.eval }}</td>
          <td>{{ response.quizzeval }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <button (click)="loadnotefinale()">Afficher mes notes finales</button>

  <div class="resultats-container">
    <h2>Résultats des évaluations</h2>
  
    <table class="resultats-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <!-- itère sur le tableau resultats -->
        <tr *ngFor="let resultat of resultats">
          <td>{{ resultat.description }}</td>
          <td>{{ resultat.note }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  