<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prévisualisation</title>
    <link rel="stylesheet" href="home.component.css"> <!-- Lien vers le fichier CSS -->
    
</head>
<body>

  <div class="content">
    <!-- Zone de gauche avec le texte et les boutons -->




    <div class="text-and-buttons">
      <p class="text text_Id">Identifiant du candidat</p>
      <p class="text text_MDP">Code unique associé</p>
      <p class="text text_role">Rôle</p>
      <p class="text_devise">Les compétences d’aujourd’hui,<br>les opportunités de demain.</p>
  
  
      <div class="rectangle rectangle1">
          <input type="text" id="mail" name="mail" required />
      </div>
      <div class="rectangle rectangle2">
        <input type="password" id="password" name="password" required />
      </div>
      
      <button class="button button_etudiant" (click)="seConnecter()">Etudiant</button>
      <button class="button button_professeur" (click)="seConnecter()">Professeur</button>
      <button class="button button_recruteur" (click)="seConnecter()">Recruteur</button>
      <button class="button button_connexion" (click)="seConnecter()">Se connecter</button>
  
      <div class="logo">
        <img src="../../assets/logo.png" style="width: 346px; height: 291px";>
      </div>
  </div>
    
    <!-- Conteneur de l'image de fond -->
    <div class="image-container">
      <img src="../../assets/Img1.png" alt="Image avec fondu" class="image">
    <div class="gradient"></div>
  </div>


  
  
    


</body>
</html>
