<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Texte de fonctionnalité</title>
  <link rel="stylesheet" href="home.component.css"> <!-- Lien vers le fichier CSS -->
  <style>
    .zone-texte {
      width: 100%;
      height: 200px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      font-size: 16px;
      color: #333;
      overflow-y: auto;
    }
  </style>
</head>
<body>

  <div class="container_navbar">
    <div class="logo">
        <img src="../../assets/logo.png" style="width: 86.5px; height: 72.75px">
    </div>
    <div class="rectangle">
        <button class="button button_acceuil">Accueil</button>
        <button class="button button_fonctionnalites">Fonctionnalités</button>
        <button class="button button_ressources">Ressources</button>
        <button class="button button_contact">Nous Contacter</button>
        <button class="button button_deconexion">Se déconnecter</button>
    </div>
</div>

<section>
  <div class="container_page">
    <div class="container-scrollable">
      <div class="module">Module A</div>
      <div class="module">Module B</div>
      <div class="module">Module C</div>
      <div class="module">Module D</div>
      <div class="module">Module E</div>
    </div>  
    <div class="container-text"></div>  
  </div>
</section>

  
  

</body>
</html>
