/* Style de base pour les rectangles */
.rectangle {
    width: 18%; /* Largeur du rectangle */
    height: 6%; /* Hauteur du rectangle */
    border: 2px solid black; /* Bordure */
    background-color: white; /* Couleur de fond */
    padding: 2px; /* Espacement interne */
    box-sizing: border-box; /* Inclut la bordure et le padding dans les dimensions */
    border-radius: 15px; /* Bords arrondis */
    display: flex; /* Utilisation de Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

/* Style des champs d'entrée */
.rectangle input {
    width: 95%; /* Largeur de l'input */
    height: 50%; /* Hauteur de l'input */
    border: none; /* Supprime la bordure par défaut */
    outline: none; /* Supprime le contour actif */
    background-color: white; /* Fond blanc */
    font-size: 100%; /* Taille du texte */
}

/* Positionnement spécifique des rectangles */
.rectangle1 {
    position: absolute; /* Positionnement absolu */
    top: 65%; /* Distance du haut */
    left: 16%; /* Distance de la gauche */
}

.rectangle2 {
    position: absolute; /* Positionnement absolu */
    top: 75%; /* Distance du haut */
    left: 16%; /* Distance de la gauche */
}


.rectangle_image {
    width: 50%; /* Largeur du rectangle */
    height: 100%; /* Hauteur du rectangle */
    background-color: black; /* Couleur de fond */
    display: flex; /* Utilisation de Flexbox */
    justify-content: center; /* Centrage horizontal du textarea */
    align-items: center; /* Centrage vertical du textarea */
    position: absolute; /* Positionnement absolu */
    top: 0%; /* Distance du haut */
    left: 50%; /* Distance de la gauche */
}


/* Style global pour la page */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Optionnel : centre horizontalement */
    align-items: center;    /* Optionnel : centre verticalement */
    font-family: 'Montserrat', sans-serif; /* Choisissez ici la police que vous souhaitez */
    font-size: 16px; /* Taille de police par défaut */
    color: #333; /* Couleur de texte par défaut */
    line-height: 1.5; /* Hauteur de ligne pour une meilleure lisibilité */
}

/* Style pour le texte */
.text {
    font-size: 24px;
    color: #333;
    position: absolute; /* Permet de positionner librement */
    top: 50%; /* Place le texte au milieu verticalement */
    left: 50%; /* Place le texte au milieu horizontalement */
    transform: translate(-50%, -50%); /* Déplace l'élément pour que son centre soit exactement à 50% de la page */
    text-align: center; /* Centre le texte horizontalement */
}

/* Style pour le texte "Identifiant du candidat" */
.text_Id {
    font-size: 24px;
    color: black;
    position: absolute; /* Permet de positionner librement */
    top: 60%; /* Place le texte au milieu verticalement */
    left: 25%; /* Place le texte au milieu horizontalement */
    transform: translate(-50%, -50%); /* Déplace l'élément pour que son centre soit exactement à 50% */
    text-align: center; /* Centre le texte horizontalement */
}

/* Style pour le texte "Code unique associé" */
.text_MDP {
    font-size: 24px;
    color: black;
    position: absolute; /* Permet de positionner librement */
    top: 75%; /* Place le texte au milieu verticalement */
    left: 25%; /* Place le texte au milieu horizontalement */
    transform: translate(-50%, -50%); /* Déplace l'élément pour que son centre soit exactement à 50% */
    text-align: center; /* Centre le texte horizontalement */
}

/* Style pour le texte "Code unique associé" */
.text_devise {
    font-family: 'Alice'; /* Choisissez ici la police que vous souhaitez */
    font-size: 36px;
    color: black;
    position: absolute; /* Permet de positionner librement */
    top: 30%; /* Place le texte au milieu verticalement */
    left: 25%; /* Place le texte au milieu horizontalement */
    transform: translate(-50%, -50%); /* Déplace l'élément pour que son centre soit exactement à 50% */
    text-align: center; /* Centre le texte horizontalement */
    font-style: italic; /* Texte en italique */
}


.button {
    background-color: #e6eaee; /* Couleur de fond verte */
    border: none; /* Supprime la bordure */
    color: black; /* Texte noir */
    position: absolute; /* Permet de positionner librement */
    top: 50%; /* Place le texte au milieu verticalement */
    left: 50%; /* Place le texte au milieu horizontalement */
    transform: translate(-50%, -50%); /* Déplace l'élément pour que son centre soit exactement à 50% de la page */
    font-family: 'Montserrat', sans-serif; /* Choisissez ici la police que vous souhaitez */
    font-size: 16px; /* Taille de police par défaut */
    text-align: center; /* Centre le texte horizontalement */
    text-decoration: none; /* Supprime la décoration par défaut */
    display: inline-block; /* Permet de rendre le bouton un élément en ligne */
    cursor: pointer; /* Change le curseur au survol */
    border-radius: 15px; /* Bords arrondis */
    transition: background-color 0.3s; /* Animation lors du changement de couleur */
    
    /* Spécification de la taille du bouton */
    width: 8%; /* Largeur fixe du bouton */
    height: 50px; /* Hauteur fixe du bouton */
}

.button_etudiant {
    position: absolute; /* Positionnement absolu */
    top: 50%; /* Place le texte au milieu verticalement */
    left: 15%; /* Place le texte à 10% de la largeur de la page */
    transform: translate(-50%, -50%); /* Déplace l'élément pour que son centre soit exactement à 50% de la page */
    text-align: center; /* Centre le texte horizontalement */
}

.button_professeur {
    position: absolute; /* Positionnement absolu */
    top: 50%; /* Distance du haut */
    left: 25%; /* Distance de la gauche */
}

.button_recruteur {
    position: absolute; /* Positionnement absolu */
    top: 50%; /* Distance du haut */
    left: 35%; /* Distance de la gauche */
}

.button_connexion {
    position: absolute; /* Positionnement absolu */
    top: 92%; /* Distance du bas */
    left: 25%; /* Distance de la gauche */
}

/* Effet au survol */
.button:hover {
    background-color: #168b75; /* Change la couleur au survol */
}
